.home{

}

.home .relative{

}


.home .over-image{
    position: absolute;
    background-color: lightgray;
    border-radius: 6px;
    width: 500px;
    padding: 30px 20px;
    top: 450px;
    left: 550px;
}

@media(max-width:767px){
    .home .over-image{
        top: 250px;
    }
}