
.navbar {
    display: flex;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    flex: 1;
}

.navbar ul li{
    width: 68px;
    margin: 0 10px;
}

.navbar ul li:hover{
    color: tomato;
    font-weight: 600;
    cursor: pointer;
}
.navbar .title{
    font-size: 20px;
    font-weight: bold;
}